<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>MyMaterial</span>
  
      <span class="example-spacer"></span>
      
      <button mat-button>Welcome</button>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>

<div class="container">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-my-component></app-my-component>
</div>
</div>