<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>MyAngular App</span>
  
      <span class="example-spacer"></span>
      
      <button mat-button ><a routerLink="" routerLinkActive="active current" [routerLinkActiveOptions]="{exact:
        true}">Welcome</a></button>
      <button mat-button><a routerLink="about" routerLinkActive="active current">About</a></button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>

<div class="container">
<div class="center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <app-my-component></app-my-component>

</div>